 
<!DOCTYPE html>
<html lang="en">
  
<!-- Mirrored from themes.potenzaglobalsolutions.com/html/jobber/search-style-advanced.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 17 Mar 2020 09:32:15 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Jobber - Job Board HTML5 Template" />
    <meta name="author" content="potenzaglobalsolutions.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Recruteur</title>

    <!-- Favicon -->
    <link href="images/favicon.ico" rel="shortcut icon" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">

    <!-- CSS Global Compulsory (Do not remove)-->
    <link rel="stylesheet" href="/css/font-awesome/all.min.css" />
    <link rel="stylesheet" href="/css/flaticon/flaticon.css" />
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" />

    <!-- Page CSS Implementing Plugins (Remove the plugin CSS here if site does not use that feature)-->
    <link rel="stylesheet" href="/css/select2/select2.css" />

    <!-- Template Style -->
    <link rel="stylesheet" href="/css/style.css" />

  </head>


<!--=================================
header -->
       <style>
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
</style>

<body>

<div class="header-inner bg-light" style="background: #ff8a00 !important;">

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="jobber-user-info">
            <div class="profile-avatar">
              <img class="img-fluid " src="//images/svg/{{recruteur.logo}}" alt="" style="height:120px">
              <i class="fas fa-pencil-alt"></i>
            </div>
            <div class="profile-avatar-info ml-4">
               <h3 style="color: #ffff !important;">{{recruteur.nomSociete}}</h3>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<!--=================================
inner banner -->

<!--=================================
Dashboard Nav -->
 <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="sticky-top secondary-menu-sticky-top">
          <div class="secondary-menu">
            <ul>
                <li><a  href="{{ path('dashboard_recruteur', {'id': recruteur.id}) }}" >Tableau de bord</a></li>
              <li><a href="{{ path('profile_recruteur', {'id': recruteur.id}) }}" >Mon Profile</a></li>
  <li  class=" dropdown">
  <a  >Offre D'emploi</a>
  <div class="dropdown-content">
 <a  href="{{ path('offre_emploi', {'id': recruteur.id}) }}">Publier Offre d'emploi</a>
  <a  href="{{ path('gererOffre_emploi', {'id': recruteur.id}) }}">Mes Offres d'emploi</a>
  </div>
</li>
 <li  class=" dropdown">
  <a  > Entretien</a>
  <div class="dropdown-content">
 <a  href="{{ path('planifierEntretien', {'id': recruteur.id}) }}">Planifier Entretien</a>
  <a  class="active"  href="{{ path('MesEntretiens', {'id': recruteur.id}) }}">Mes Entretiens</a>
  </div>
</li>
              
               <li><a href="{{ path('candidatsPostule', {'id': recruteur.id}) }}">Candidates postulé</a></li>
               <li><a >Statistiques</a></li>
              
                 <li><a >Déconnexion</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=================================
Dashboard Nav -->
<section>
 <div class="row">
          <div class="col-md-6 col-lg-4">
            <div class="job-list job-grid">
              <div class="job-list-logo">
                <img class="img-fluid" src="/images/svg/01.svg" alt="">
              </div>
              <div class="job-list-details">
                <div class="job-list-info">
                  <div class="job-list-title">
                    <h5 class="mb-0"><a href="job-detail.html">Marketing and Communications</a></h5>
                  </div>
                  <div class="job-list-option">
                    <ul class="list-unstyled">
                      <li> <span>via</span> <a href="employer-detail.html">Fast Systems Consultants</a> </li>
                      <li><i class="fas fa-map-marker-alt pr-1"></i>Wellesley Rd, London</li>
                      <li><i class="fas fa-filter pr-1"></i>Accountancy</li>
                      <li><a class="freelance" href="#"><i class="fas fa-suitcase pr-1"></i>Freelance</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="job-list-favourite-time"> <a class="job-list-favourite order-2" href="#"><i class="fas fa-heart"></i></a> <span class="job-list-time order-1"><i class="far fa-clock pr-1"></i>1M ago</span> </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="job-list job-grid">
              <div class="job-list-logo">
                <img class="img-fluid" src="/images/svg/02.svg" alt="">
              </div>
              <div class="job-list-details">
                <div class="job-list-info">
                  <div class="job-list-title">
                    <h5 class="mb-0"><a href="job-detail.html">Web Developer – .net</a></h5>
                  </div>
                  <div class="job-list-option">
                    <ul class="list-unstyled">
                      <li> <span>via</span> <a href="employer-detail.html">Pendragon Green Ltd</a> </li>
                      <li><i class="fas fa-map-marker-alt pr-1"></i>Canyon Village, Ramon</li>
                      <li><i class="fas fa-filter pr-1"></i>IT &amp; Telecoms</li>
                      <li><a class="part-time" href="#"><i class="fas fa-suitcase pr-1"></i>Part-Time</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="job-list-favourite-time"> <a class="job-list-favourite order-2" href="#"><i class="far fa-heart"></i></a> <span class="job-list-time order-1"><i class="far fa-clock pr-1"></i>3D ago</span> </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="job-list job-grid">
              <div class=" job-list-logo">
                <img class="img-fluid" src="/images/svg/03.svg" alt="">
              </div>
              <div class="job-list-details">
                <div class="job-list-info">
                  <div class="job-list-title">
                    <h5 class="mb-0"><a href="job-detail.html">Payroll and Office Administrator</a></h5>
                  </div>
                  <div class="job-list-option">
                    <ul class="list-unstyled">
                      <li> <span>via</span> <a href="employer-detail.html">Wight Sound Hearing LLC</a> </li>
                      <li><i class="fas fa-map-marker-alt pr-1"></i>New Castle, PA</li>
                      <li><i class="fas fa-filter pr-1"></i>Hospitality & Catering</li>
                      <li><a class="temporary" href="#"><i class="fas fa-suitcase pr-1"></i>Temporary</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="job-list-favourite-time"> <a class="job-list-favourite order-2" href="#"><i class="far fa-heart"></i></a> <span class="job-list-time order-1"><i class="far fa-clock pr-1"></i>2W ago</span> </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="job-list job-grid">
              <div class="job-list-logo">
                <img class="img-fluid" src="/images/svg/04.svg" alt="">
              </div>
              <div class="job-list-details">
                <div class="job-list-info">
                  <div class="job-list-title">
                    <h5 class="mb-0"><a href="job-detail.html">Data Entry Administrator</a></h5>
                  </div>
                  <div class="job-list-option">
                    <ul class="list-unstyled">
                      <li> <span>via</span> <a href="employer-detail.html">Fleet Improvements Pvt</a> </li>
                      <li><i class="fas fa-map-marker-alt pr-1"></i>Park Avenue, Mumbai</li>
                      <li><i class="fas fa-filter pr-1"></i>Charity &amp; Voluntary</li>
                      <li><a class="full-time" href="#"><i class="fas fa-suitcase pr-1"></i>Full time</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="job-list-favourite-time"> <a class="job-list-favourite order-2" href="#"><i class="far fa-heart"></i></a> <span class="job-list-time order-1"><i class="far fa-clock pr-1"></i>3M ago</span> </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="job-list job-grid">
              <div class="job-list-logo">
                <img class="img-fluid" src="/images/svg/05.svg" alt="">
              </div>
              <div class="job-list-details">
                <div class="job-list-info">
                  <div class="job-list-title">
                    <h5 class="mb-0"><a href="job-detail.html">Part-Time Sales Assistant</a></h5>
                  </div>
                  <div class="job-list-option">
                    <ul class="list-unstyled">
                      <li> <span>via</span> <a href="employer-detail.html">Wollens Building Supplies</a> </li>
                      <li><i class="fas fa-map-marker-alt pr-1"></i>Wellesley Rd, London</li>
                      <li><i class="fas fa-filter pr-1"></i>Customer Service</li>
                      <li><a class="part-time" href="#"><i class="fas fa-suitcase pr-1"></i>Part-Time</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="job-list-favourite-time"> <a class="job-list-favourite order-2" href="#"><i class="far fa-heart"></i></a> <span class="job-list-time order-1"><i class="far fa-clock pr-1"></i>6D ago</span> </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="job-list job-grid">
              <div class="job-list-logo">
                <img class="img-fluid" src="/images/svg/06.svg" alt="">
              </div>
              <div class="job-list-details">
                <div class="job-list-info">
                  <div class="job-list-title">
                    <h5 class="mb-0"><a href="job-detail.html">Stockroom Assistant</a></h5>
                  </div>
                  <div class="job-list-option">
                    <ul class="list-unstyled">
                      <li> <span>via</span> <a href="employer-detail.html">Suttons Financial Ltd</a> </li>
                      <li><i class="fas fa-map-marker-alt pr-1"></i>Botchergate, Carlisle</li>
                      <li><i class="fas fa-filter pr-1"></i>Customer Service</li>
                      <li><a class="temporary" href="#"><i class="fas fa-suitcase pr-1"></i>Temporary</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="job-list-favourite-time"> <a class="job-list-favourite order-2" href="#"><i class="far fa-heart"></i></a> <span class="job-list-time order-1"><i class="far fa-clock pr-1"></i>3D ago</span> </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="job-list job-grid">
              <div class="job-list-logo">
                <img class="img-fluid" src="/images/svg/19.svg" alt="">
              </div>
              <div class="job-list-details">
                <div class="job-list-info">
                  <div class="job-list-title">
                    <h5 class="mb-0"><a href="job-detail.html">Operational manager part-time</a></h5>
                  </div>
                  <div class="job-list-option">
                    <ul class="list-unstyled">
                      <li> <span>via</span> <a href="employer-detail.html">Fleet Home Improvements Pvt</a> </li>
                      <li><i class="fas fa-map-marker-alt pr-1"></i>Green Lanes, London</li>
                      <li><i class="fas fa-filter pr-1"></i>Accountancy (Qualified)</li>
                      <li><a class="part-time" href="#"><i class="fas fa-suitcase pr-1"></i>Part-Time</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="job-list-favourite-time"> <a class="job-list-favourite order-2" href="#"><i class="far fa-heart"></i></a> <span class="job-list-time order-1"><i class="far fa-clock pr-1"></i>2W ago</span> </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="job-list job-grid">
              <div class="job-list-logo">
                <img class="img-fluid" src="/images/svg/08.svg" alt="">
              </div>
              <div class="job-list-details">
                <div class="job-list-info">
                  <div class="job-list-title">
                    <h5 class="mb-0"><a href="job-detail.html">Post Room Operative</a></h5>
                  </div>
                  <div class="job-list-option">
                    <ul class="list-unstyled">
                      <li> <span>via</span> <a href="employer-detail.html">Playroom Day Nursery</a> </li>
                      <li><i class="fas fa-map-marker-alt pr-1"></i>Green Lanes, London</li>
                      <li><i class="fas fa-filter pr-1"></i>Ormskirk Rd, Wigan</li>
                      <li><a class="freelance" href="#"><i class="fas fa-suitcase pr-1"></i>Freelance</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="job-list-favourite-time"> <a class="job-list-favourite order-2" href="#"><i class="far fa-heart"></i></a> <span class="job-list-time order-1"><i class="far fa-clock pr-1"></i>3D ago</span> </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="job-list job-grid">
              <div class="job-list-logo">
                <img class="img-fluid" src="/images/svg/06.svg" alt="">
              </div>
              <div class="job-list-details">
                <div class="job-list-info">
                  <div class="job-list-title">
                    <h5 class="mb-0"><a href="job-detail.html">Communications Trainee Scheme</a></h5>
                  </div>
                  <div class="job-list-option">
                    <ul class="list-unstyled">
                      <li> <span>via</span> <a href="employer-detail.html">Northwood (Torbay) Ltd</a> </li>
                      <li><i class="fas fa-map-marker-alt pr-1"></i>Park Avenue, Mumbai</li>
                      <li><i class="fas fa-filter pr-1"></i>Engineering</li>
                      <li><a class="full-time" href="#"><i class="fas fa-suitcase pr-1"></i>Full Time</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="job-list-favourite-time"> <a class="job-list-favourite order-2" href="#"><i class="far fa-heart"></i></a> <span class="job-list-time order-1"><i class="far fa-clock pr-1"></i>6D ago</span> </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="job-list job-grid">
              <div class="job-list-logo">
                <img class="img-fluid" src="/images/svg/12.svg" alt="">
              </div>
              <div class="job-list-details">
                <div class="job-list-info">
                  <div class="job-list-title">
                    <h5 class="mb-0"><a href="job-detail.html">Communications Trainee Scheme</a></h5>
                  </div>
                  <div class="job-list-option">
                    <ul class="list-unstyled">
                      <li> <span>via</span> <a href="employer-detail.html">Wollens Building Supplies</a> </li>
                      <li><i class="fas fa-map-marker-alt pr-1"></i>Ormskirk Rd, Wigan</li>
                      <li><i class="fas fa-filter pr-1"></i>Financial Services</li>
                      <li><a class="part-time" href="#"><i class="fas fa-suitcase pr-1"></i>Part-Time</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="job-list-favourite-time"> <a class="job-list-favourite order-2" href="#"><i class="far fa-heart"></i></a> <span class="job-list-time order-1"><i class="far fa-clock pr-1"></i>1w ago</span> </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="job-list job-grid">
              <div class="job-list-logo">
                <img class="img-fluid" src="/images/svg/13.svg" alt="">
              </div>
              <div class="job-list-details">
                <div class="job-list-info">
                  <div class="job-list-title">
                    <h5 class="mb-0"><a href="job-detail.html">Part-Time Sales Assistant</a></h5>
                  </div>
                  <div class="job-list-option">
                    <ul class="list-unstyled">
                      <li> <span>via</span> <a href="employer-detail.html">NameThe Raj Douth</a> </li>
                      <li><i class="fas fa-map-marker-alt pr-1"></i>Green Lanes, London</li>
                      <li><i class="fas fa-filter pr-1"></i>Health & Medicine</li>
                      <li><a class="temporary" href="#"><i class="fas fa-suitcase pr-1"></i>Temporary</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="job-list-favourite-time"> <a class="job-list-favourite order-2" href="#"><i class="far fa-heart"></i></a> <span class="job-list-time order-1"><i class="far fa-clock pr-1"></i>3M ago</span> </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="job-list job-grid">
              <div class="job-list-logo">
                <img class="img-fluid" src="/images/svg/14.svg" alt="">
              </div>
              <div class="job-list-details">
                <div class="job-list-info">
                  <div class="job-list-title">
                    <h5 class="mb-0"><a href="job-detail.html">Anticoagulation Receptionist</a></h5>
                  </div>
                  <div class="job-list-option">
                    <ul class="list-unstyled">
                      <li> <span>via</span> <a href="employer-detail.html">Fleet Home Improvements Pvt</a> </li>
                      <li><i class="fas fa-map-marker-alt pr-1"></i>Green Lanes, London</li>
                      <li><i class="fas fa-filter pr-1"></i>Accountancy (Qualified)</li>
                      <li><a class="part-time" href="#"><i class="fas fa-suitcase pr-1"></i>Part-Time</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="job-list-favourite-time"> <a class="job-list-favourite order-2" href="#"><i class="far fa-heart"></i></a> <span class="job-list-time order-1"><i class="far fa-clock pr-1"></i>6D ago</span> </div>
            </div>
          </div>
        </div>
        </section>
<!--=================================
My Profile -->


 
<!--=================================
footer -->
<footer class="footer mt-5 mt-md-5 pt-0">
    <div class="footer-bottom bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ">
            <div class="d-flex justify-content-md-start justify-content-center">
              <ul class="list-unstyled d-flex mb-0">
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="contact-us.html">Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 text-center text-md-right mt-4 mt-md-0">
            <p class="mb-0"> &copy;Copyright <span id="copyright"> <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span> <a href="#"> Jobber </a> All Rights Reserved </p>
          </div>
        </div>
      </div>
    </div>
</footer>
<!--=================================
footer -->







<!--=================================
Javascript -->

    <!-- JS Global Compulsory (Do not remove)-->
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/popper/popper.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>

    <!-- Page JS Implementing Plugins (Remove the plugin script here if site does not use that feature)-->
    <script src="/js/select2/select2.full.js"></script>

    <!-- Template Scripts (Do not remove)-->
    <script src="/js/custom.js"></script>

</body>

<!-- Mirrored from themes.potenzaglobalsolutions.com/html/jobber/search-style-advanced.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 17 Mar 2020 09:32:15 GMT -->
</html>
