<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Jobber - Job Board HTML5 Template" />
    <meta name="author" content="potenzaglobalsolutions.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %} Jobber - Job Board HTML5 Template{% endblock %}</title>

    <!-- Favicon -->
    

        {% block stylesheets %}
         <link href="/images/favicon.ico" rel="shortcut icon" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">
   <!-- CSS Global Compulsory (Do not remove)-->
    <link rel="stylesheet" href="{{asset ('css/font-awesome/all.min.css') }}" />
    <link rel="stylesheet" href="{{asset ('css/flaticon/flaticon.css') }}" />
    <link rel="stylesheet" href="{{asset ('css/bootstrap/bootstrap.min.css') }}" />

    <!-- Page CSS Implementing Plugins (Remove the plugin CSS here if site does not use that feature)-->
    <link rel="stylesheet" href=" {{asset ('css/owl-carousel/owl.carousel.min.css') }} " />
    <link rel="stylesheet" href="{{asset ('css/magnific-popup/magnific-popup.css') }}" />

    <!-- Template Style -->
    <link rel="stylesheet" href="{{asset ('css/style.css') }}" />
        {% endblock %}
    </head>
    <body>
    {% block body %}
     <header class="header bg-dark">
  <nav class="navbar navbar-static-top navbar-expand-lg header-sticky">
    <div class="container-fluid">
      <button id="nav-icon4" type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
          <span></span>
          <span></span>
          <span></span>
      </button>
      <a class="navbar-brand" href="index.html">
        <img class="img-fluid" src="/images/logo.svg" alt="logo">
      </a>
      <div class="navbar-collapse collapse justify-content-start">
        <ul class="nav navbar-nav">
          <li class="nav-item dropdown active">
            <a class="nav-link" href={{ path('acceuil',{id:id}) }} id="navbarDropdown" role="button"  aria-haspopup="true" aria-expanded="true">Liste des offres_d'emploi </a>
     
          </li>
     <li class="nav-item dropdown ">
            <a class="nav-link"  href= {{ path('candidat_edit', {id:id} ) }}  role="button"  aria-haspopup="true" aria-expanded="false">Mon Profil</a>
          </li>


            <li class="nav-item dropdown ">
            <a class="nav-link"  href= {{ path('candidat_entretien', {id:id} ) }}  role="button"  aria-haspopup="true" aria-expanded="false">Mes entretiens</a>
          </li>


           <li class="nav-item dropdown ">
            <a class="nav-link"  href= {{ path('candidat_edit', {id:id} ) }}  role="button"  aria-haspopup="true" aria-expanded="false">Notifications</a>
          </li>

          
         
        

        </ul>
      </div>
      <div class="add-listing">
          <div class="login d-inline-block mr-4">
        
            <a href="{{ path('app_logout') }}"><i class="far fa-user pr-2"></i>Déconnexion</a>
          </div>
        </div>
    </div>
  </nav>
</header>




{% endblock %}
        {% block javascripts %}
      <script src="{{asset ('js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{asset ('js/popper/popper.min.js') }}"></script>
    <script src="{{asset ('js/bootstrap/bootstrap.min.js') }}"></script>

    <!-- Page JS Implementing Plugins (Remove the plugin script here if site does not use that feature)-->
    <script src="{{asset ('js/jquery.appear.js') }}"></script>
    <script src="{{asset ('js/counter/jquery.countTo.js') }}"></script>
    <script src="{{asset ('js/owl-carousel/owl-carousel.min.js') }}"></script>
    <script src="{{asset ('js/magnific-popup/jquery.magnific-popup.min.js') }}"></script>

    <!-- Template Scripts (Do not remove)-->
    <script src="{{asset ('js/custom.js') }}"></script>
        {% endblock %}
          
    </body>
</html>
